body
{
    background:rgb(126, 96, 85);
}
.jumbotron
{
    margin:0 auto;
    background:black;
}
.footer
{
    background:rgb(47, 36, 34);
    height: 40px;
    text-align: center;
    width: 100%;
    
}
.zdjecie
{
    text-align: center;
}
a
{
    color:rgb(78, 55, 52);
}
