body
{
    background:rgb(126, 96, 85);
}
.jumbotron
{
    margin:0 auto;
    background:black;
}
.footer
{
    background:rgb(47, 36, 34);
    height: 40px;
    text-align: center;
    width: 100%;
    
}
.zdjecie
{
    text-align: center;
}
a
{
    color:rgb(78, 55, 52);
}
.klasa{
    text-align: center;
}
.zdjecie1{
    width: 1300px;
}
h3{
    text-align: center;
}
#his{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}
h1{
    text-align: center;
    padding: 10px;
}
